.image-wrapper {
    position: relative;
    display: inline-block;
}

.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* ImageGallery.css */

.favorite {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.favorite.active {
    transform: scale(1.2);
    color: red;
}

.favorite:hover {
    transform: scale(1.3);
}

.heart-icon {
    width: 24px;
    height: 24px;
}

/* Filter Buttons */
.filter-buttons {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 10px 0;
}

.filter-buttons button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-buttons button:hover {
    background-color: #f0f0f0;
}

.filter-buttons button.active {
    background-color: #3e8fb0;
    font-weight: bold;
}
